<html>
    <head>
        <title>Welcome to the Army</title>
          <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>

<div class="container">
  <h2 ><font color="#097fd7">Thanks for enlisting!</font></h2>
  <h3 ><font color="red"><a href="home">Return to Enlistment Page</a></font></h3>
  <h3 ><font color="red"><a href="http://berniesanders.com">Bernie Sanders Campaign Page</a></font></h3>

</div>
    </body>
</html>